<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hewei.hzyjy.xunzhi.agent.dao.mapper.AgentPropertiesMapper">

    <resultMap id="BaseResultMap" type="com.hewei.hzyjy.xunzhi.agent.dao.entity.AgentPropertiesDO">
            <id property="id" column="id" />
            <result property="agentName" column="agent_name" />
            <result property="apiSecret" column="api_secret" />
            <result property="apiKey" column="api_key" />
            <result property="apiFlowId" column="api_flow_id" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,agent_name,api_secret,api_key,api_flow_id,create_time,
        update_time,del_flag
    </sql>
</mapper>
